body header{
    height: 5em;
    width: 100%;
    background-color: #444;
    color: #808080;
    padding-top: 1em;
    padding-bottom: .5em;
}

header img{
    float: left;
    margin-left: 25%;
    margin-right: 2em;
}

nav ul li{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 350%;
    margin-left: 2em;
}

nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}

#hero img{
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

#sub img:first-child{
    margin-left: 25%;
}

#sub img:nth-child(2), #sub img:nth-child(3){
    margin-left: 1.5em; 
}

#sub img{
    margin-bottom: 1.5em;
}

#hero img,#sub img:hover{
    cursor: pointer;
}