body header{
    height: 5em;
    width: 100%;
    background-color: #444;
    color: #808080;
    padding-top: 1em;
    padding-bottom: .5em;
}

header img{
    float: left;
    margin-left: 25%;
    margin-right: 2em;
}

nav ul li{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 350%;
    margin-left: 2em;
}

nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}

#hero img{
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

#sub img:first-child{
    margin-left: 25%;
}

#sub img:nth-child(2), #sub img:nth-child(3){
    margin-left: 1.5em; 
}

#sub img{
    margin-bottom: 1.5em;
}

header img, #hero img, #sub img, #featured img:hover{
    cursor: pointer;
}

#featured img{
    float: left;
    margin-left: 25%;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

#featured #container{
    width: 28.3em;
    height: 25em;
    overflow-y: scroll;
}

#featured #container h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

#featured #container p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: justify;
    padding-right: 1em;
    margin-bottom: 1.5em;
}

#container button{
    transition-duration: 350ms;
    border-radius: .5em;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 10em;
    height: 2em;
}

#container button:hover{
    background-color: white;
    color: black;
}

footer{
    margin-top: 1.5em;
    height: 5em;
    background-color: #444;
    color: #808080;
    text-align: right;
    line-height: 500%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
}

footer p{
    opacity: .15;
}